version: '3'

services:
  client:
    container_name: stylish
    build: ./client
    command: npm run start:dev
    ports:
      - '8080:8080'
    volumes:
      - /app/node_modules
      - ./client:/app
  server:
    container_name: Server
    build: ./server
    command: npm start
    ports:
      - '3000:3000'
    volumes:
      - /app/node_modules
      - ./server:/app